<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<head>
    <meta charset="UTF-8">
    <title>Calendar</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon/favicon.png') }}">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div id="flash-messages">
          {% for category, message in messages %}
            <div class="flash {{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <div class="calendar-container">
        <div class="calendar-box">
            <h2>Add a Task</h2>
            <form action="/add_task" method="post">
                <label for="due_date">Due Date:</label>
                <input type="date" id="due_date" name="due_date" required>
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" required>
                <label for="notes">Notes:</label>
                <textarea id="notes" name="notes" placeholder="Enter notes..."></textarea>
                <button type="submit">Add Task</button>
            </form>
            <a href="/homepage" class="back-home-btn">Back to Homepage</a>
        </div>
    </div>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        var textarea = document.getElementById('notes');
        if (textarea) {
            textarea.addEventListener('input', function() {
                this.style.height = 'auto';
                this.style.height = (this.scrollHeight) + 'px';
            });